# These packages are to be installed with conda or pip, with the following command:
# pip install -r requirements.txt

numpy
pandas
tomlkit
matplotlib
sargeom @ git+https://github.com/oleveque/sargeom@main