# These packages are to be installed with conda or pip, with the following command:
# pip install -r requirements.txt

numpy # for numerical operations
scipy
tomlkit # for reading the configuration file
pandas
matplotlib # for plotting
sargeom @ git+https://github.com/oleveque/sargeom@main # for coordinate transformations